html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}
body {
	font-family: raleway, helvetica;
	font-weight: 300;
	font-size: 13px;
	color: #666;
	line-height: 1.5em;
}
div {
	margin: 0px;
	padding: 0px;
}
a {
	color: #d81760;

}
p {
	padding: 5px;
}
#header {
	font-family: "Great Vibes";
	font-size: 40px;
}
#header h1 {
	font-size: 40px;
}
.sub {
	font-family: raleway, helvetica;
	font-weight: 200;
	font-size: 28px;
}
#color {
	height: 10px;
	background-color: #d81760;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#content {
	margin: auto;
	max-width: 500px;
	padding: 30px 10px 50px;
	text-align: center;
	width: 100%;
}
#photo {
	margin: auto;
	/*padding: 10px;*/
}
#photo img {
	margin: auto;
	display: block;
}
#description {
	width: 75%;
	margin: auto;
	/*text-align: justify;*/
}
.icon {
	font-size: 18px;
	color: #d81760;
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width: 321px)
and (max-width: 480px) {
body, html {
	/*max-width: 480px;*/
	width: auto;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width: 320px) {
body, html {
	/*max-width: 320px;*/
	width: auto;
}
}

/* Phone specific styles ----------- */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px) {
#description {
	font-size: 15px;
	line-height: 1.6em;
}
#contact {
	font-size: 15px;
}
}