html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Allura', raleway, helvetica;
	font-weight: 300;
	font-size: 13px;
	color: #666;
	line-height: 1.5em;
/*	background-image: url("images/pamzolaweddings-edited.jpg");
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100%;
	background-color: #e6ebef;*/
	/*font-family: 'Bilbo Swash Caps';*/
	/*font-family: 'Euphoria Script';*/
	/*font-family: Bilbo;*/
	/*font-family: Italianno;*/
	/*font-family: 'Amatic SC';*/
	/*font-family: 'Pinyon Script';*/









}
div {
	margin: 0px;
	padding: 0px;
}
.clearfix {
	clear: both;
}

/*index 3*/

#content {
	width: 800px;
	margin: auto;
	text-align: center;
	padding: 20px 20px;
	margin-bottom: 80px;
}

#header {
	position: fixed;
	top: 0px;
	border-top: 10px solid #d81760;
	border-bottom: 1px dotted #dedede;
	background-color: #FFF;
	width: 100%;
	text-align: center;
	padding: 20px 0px 18px;
	
}
#nav a {
	color: #333;
	padding: 16px 10px 13px;
	font-family: 'Rokkitt';
	font-family: 'Josefin Sans';
	font-size: 18px;
	text-decoration: none;
}
#nav a:hover {
	color: #d81760;
}
#logo {
	text-align: center;
	margin: auto;
	width: 800px;
}

#logo h1 {
	margin: 130px auto 20px;
	line-height: 1.3em;
	font-weight: normal;
	color: #777;	
	padding: 0px;
	font-size: 48px;	
}
#logo h1 span {
	display: block;
}

#a {
	font-family: 'Bilbo Swash Caps';
}
#b {
	font-family: 'Antic Slab';
}
#c {
	font-family: 'Codystar';
}
#d {
	font-family: 'Fredericka the Great';
}
#e {
	font-family: 'Poiret One';
	font-size: 50px;
	color: #d81760;
}
#f {
	font-family: 'Montez';
}
#g {
	font-family: 'Almendra Display';
}
#h {
	font-family: 'La Belle Aurore';
}
#i {
	font-family: 'Antic Didone';
}
#j {
	font-family: 'Tangerine';
}
#k {
	font-family: 'Playball';
}
#l {
	font-family: 'Shadows Into Light Two';
}
#m {
	font-family: 'Playfair Display SC';
}
#n {
	font-family: 'Amatic SC';
	font-size: 62px;
}
#o {
	font-family: 'Handlee';
}
#p {
	font-family: 'Italianno';
}

.intro h2 {
	font-size: 16px;
	font-family: 'raleway';
	font-weight: 200;
	/*font-family: 'Josefin Sans';*/
	padding: 20px 77px;
	line-height: 1.5em;
	text-align: justify;
}
#images {
	width: 600px;
	margin: auto;
	clear: both;
}
#images img {
	float: left;
	padding: 10px;
}

#footer {
	clear: both;
}
.heart {
	/*font-size: 28px;*/
	color: #d81760;
	padding: 0px 10px;
}


 /*Index 1*/

/*#nav {
	width: 900px;
	padding: 50px 0px;
	margin: auto;
	font-size: 20px;
}
#main_links {
	text-align: center;
}
#contact_links {
	float: right;
}
#nav a {
	color: #666;
	padding: 0px 5px;
	text-decoration: none;
}
#nav a:hover {
	text-decoration: underline;
}
#icon {
	margin: 30px auto;
	display: block;
	font-size: 48px;
	text-align: center;
	color: #666;
}
#icon img {
	width: 250px;
}
*/




/*

OLD

html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
}
body {
	font-family: raleway, helvetica;
	font-weight: 300;
	font-size: 13px;
	color: #666;
	line-height: 1.5em;
}
div {
	margin: 0px;
	padding: 0px;
}

a {
	color: #d81760;

}
p {
	padding: 5px;
}
#header {
	font-family: "Great Vibes", cursive;
	font-size: 40px;
}
#header h1 {
	font-size: 40px;
}
.sub {
	font-family: raleway, helvetica;
	font-weight: 200;
	font-size: 28px;
}
#color {
	height: 10px;
	background-color: #d81760;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
#content {
	margin: auto;
	max-width: 460px;
	padding: 30px 10px 50px;
	text-align: center;
}
#photo {
	margin: auto;
}
#photo img {
	margin: auto;
	display: block;
}
#description {
	width: 75%;
	margin: auto;
}
.flower {
	font-size: 28px;
	color: #d81760;
}
.heart {
	font-size: 18px;
	color: #d81760;
}

@media only screen 
and (max-width: 480px) {
body, html {
	width: auto;
	padding: 0px;
}
#description {
	font-size: 16px;
	line-height: 1.6em;
}
#contact {
	font-size: 15px;
}
}*/